header {
  background-image:url('imgs/light.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 1.25em;
  margin-top: -2.5em;
  margin-left: -.5em;
  margin-right: -.5em;
}

header h2 {
  font-family: Raleway;
  font-size: 1.875em;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 1.875em;
  margin-left: 2%;
  letter-spacing: .1em;
}

header h1 {
  font-family: Dancing Script;
  font-size: 9.375em;
  color: white;
  text-transform: lowercase;
  border: 5px solid white;
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
  margin-left: 10%;
}

header h3 {
  font-family: Raleway;
  font-size: 1.875em;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 1.875em;
  margin-left: 2%;
  letter-spacing: .1em;
}
canvas {
  display: block;
  width: 80% !important;
  max-width: 80%;
  height auto !important;
  margin: 0 auto;
  margin-top: 2em;
}
#scroll {
  text-align: center;
  margin-top: -0.9375em;
}
#scroll-anchor {
  position: relative;
  display: block;
  top: -3.5625em;
}
nav ul{
  list-style: none;
  margin: 0 0.125em;
  padding: 0;
  display: block;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 1.5em;
  padding: 0.9375em 0px;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: white;
}

main {
  padding-top: 1%;
  background-color: #e7e7e7;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
#login-status {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.25em;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

#login-tab {
  background: #2A9D8F;
  width: 40%;
  margin: 0 auto;
  border-radius: 0.5625em;
  -moz-border-radius: 0.5625em;
  -webkit-border-radius: 0.5625em;
  border: none;
  padding: 0.9375em;
  margin-top: 10%;
  margin-bottom: 18.75em;
}
#login-tab h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  text-transform: uppercase;
}
#login-tab h6 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 0.75em;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
#login-tab label {
  display: block;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
}
#login-tab button{
  display: block;
  margin: 0 auto;
  margin-top: 0.9375em;
  border: none;
  background-color: #BADA55;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  color: white;
  text-transform: uppercase;
  padding: 0.4375em;
  font-size: 0.9375em;
  font-family: Raleway;
  font-weight: 300;
}
#login-tab input {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  line-height: 2em;
  border: none;
}
#new-post {
  background: #2A9D8F;
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
  border-radius: 0.5625em;
  -moz-border-radius: 0.5625em;
  -webkit-border-radius: 0.5625em;
  border: none;
  padding: 0.9375em;
}

#new-post h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  text-transform: uppercase;
}

#new-post label {
  display: block;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
}

#new-post button {
  display: block;
  margin-top: 0.9375em;
  border: none;
  background-color: #BADA55;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  color: white;
  text-transform: uppercase;
  padding: 0.4375em;
  font-size: 0.9375em;
  font-family: Raleway;
  font-weight: 300;
}

#new-post input {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  line-height: 2em;
  border: none;
}

#new-post input[type="text"] {
  width: 60%;
}


#new-post select {
  font-size: 0.9375em;
  text-transform: uppercase;
  border: none;
}

#new-post label[for="female"] {
  display: inline;
  padding-right: 0.625em;
  text-transform: uppercase;
}

#new-post label[for="male"] {
  display: inline;
  padding-right: 0.625em;
  text-transform: uppercase;
}

#new-post label[for="other"] {
  display: inline;
  text-transform: uppercase;
}

#new-post textarea {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border: none;
}

#forum {
  width: 90%;
  background: #2A9D8F;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 0.5625em;
  -moz-border-radius: 0.5625em;
  -webkit-border-radius: 0.5625em;
  border: none;
  padding: 0.9375em;
}

#forum h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  text-transform: uppercase;
}

#forum select {
  font-size: 0.9375em;
  text-transform: uppercase;
  border: none;
  margin-bottom: 2.5em;
}

#forum label {
  display: block;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
  font-size: 1.125em;
}

#forum button {
  display: block;
  margin-top: 0.9375em;
  border: none;
  background-color: #BADA55;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  color: white;
  text-transform: uppercase;
  padding: 0.4375em;
  font-size: 0.9375em;
  font-family: Raleway;
  font-weight: 300;
}

article .title {
  color: white;
  font-size: 1.7em;
  font-family: Raleway;
}

article .author {
  color: white;
  font-size: 1em;
  font-family: Raleway;
  font-weight: 300;
}

article .gender {
  color: white;
  font-size: .8em;
  font-family: Raleway;
  font-weight: 300;
  margin-top: -0.625em;
}

article .date {
  color: white;
  font-size: .8em;
  font-family: Raleway;
  font-weight: 300;
  margin-top: -0.625em;
}

article .body {
  font-size: 1.2em;
  font-family: Raleway;
  font-weight: 300;
  background-color: white;
  color: #2A9D8F;
  padding: 1.25em;
}

article .category {
  color: white;
  font-size: .8em;
  font-family: Raleway;
  font-weight: 300;
  margin-top: 1.25em;
  border-bottom: 2px dotted white;
  padding-bottom: 1.25em;
}

article .postNum {
  color: white;
  font-size: .8em;
  font-family: Raleway;
  font-weight: 300;
  float: right;
}

#new-reply {
  background: #2A9D8F;
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
  border-radius: 0.5625em;
  -moz-border-radius: 0.5625em;
  -webkit-border-radius: 0.5625em;
  border: none;
  padding: 0.9375em;
}

#new-reply textarea {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border: none;
}

#new-reply label {
  display: block;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
}

#new-reply button {
  display: block;
  margin-top: 0.9375em;
  border: none;
  background-color: #BADA55;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  color: white;
  text-transform: uppercase;
  padding: 0.4375em;
  font-size: 0.9375em;
  font-family: Raleway;
  font-weight: 300;
}

#new-reply input {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  line-height: 2em;
  border: none;
  width: 42.3%;
}

#new-reply h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  text-transform: uppercase;
}

#resources-form {
  width: 90%;
  background: #2A9D8F;
  margin: 0 auto;
  margin-top: 2.5%;
  border-radius: 0.5625em;
  -moz-border-radius: 0.5625em;
  -webkit-border-radius: 0.5625em;
  border: none;
  padding: 0.9375em;
}

#resources-form h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  text-transform: uppercase;
}

#resources-form select {
  font-size: 0.9375em;
  text-transform: uppercase;
  border: none;
}

.box {
  margin-top: 2.5%;
  padding: 2% 2% 2% 2%;
  margin-bottom: 5%;
}

.box h1 {
  font-family: Raleway;
  font-size: 2.2em;
  font-weight: 300;
}

.box h2 {
  font-family: Raleway;
  font-weight: 300;
}

.box a {
  font-family: Raleway;
  font-weight: 300;
}

body {
  margin-bottom: -0.625em;
}

main {
  padding-bottom: 6.25em;
}

#mood-form {
  background: #2A9D8F;
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
  border-radius: 0.5625em;
  -moz-border-radius: 0.5625em;
  -webkit-border-radius: 0.5625em;
  border: none;
  padding: 0.9375em;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
}

#mood-form button {
  display: block;
  margin-top: 0.9375em;
  border: none;
  background-color: #BADA55;
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  color: white;
  text-transform: uppercase;
  font-size: 0.9375em;
  font-family: Raleway;
  font-weight: 300;
}

#mood-form h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  text-transform: uppercase;
}

#mood-form label {
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
  font-size: 1.1em;
  display: inline-block;
  padding-top: 1.25em;
}

#mood-form input[type="radio"] {
  display: inline-block
}

.resources-info {
  font-family: Raleway;
}

.resources-title {
  font-family: Raleway;
}
.numReplies {
  font-family: Raleway;
  color: white;
  font-weight: 300;
}
@media (min-width: 500px) {
  header h2 {
    font-family: Raleway;
    font-size: 2.8125em;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 1.875em;
    margin-left: 35%;
    letter-spacing: .1em;
  }

  header h1 {
    font-family: Dancing Script;
    font-size: 9.375em;
    color: white;
    text-transform: lowercase;
    border: 5px solid white;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-block;
    margin-left: 15%;
  }

  header h3 {
    font-family: Raleway;
    font-size: 2.8125em;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 2.8125em;
    margin-left: 2%;
    letter-spacing: .1em;
  }

  nav ul{
    list-style: none;
    margin: 0 0.125em;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 1.5em;
    padding: 0.9375em 0px;
  }

  nav ul a {
    text-decoration: none;
    color: black;
  }

  nav {
    background-color: white;
  }

@media (min-width: 625px) {
  #new-post {
    width: 85%;
  }

  #forum {
    width: 85%;
  }

  #new-reply {
    width: 85%;
  }

  #resources-form h1 {
    display: inline-block;
    padding-right: 0.9375em;
  }

  #resources-form select {
    display: inline-block;
  }
}

@media (min-width: 750px) {
  #new-post input[type="text"] {
    width: 55%;
  }

  #column1 {
    float: left;
    width: 55%;

  }

  #column2 {
    margin-bottom: 3.125em;
  }

  #new-post button {
    margin-right: auto;
    margin-left: auto;
    clear:both;
  }

  #new-post textarea{
    width: 43%;
  }

  #new-reply button {
    margin-right: auto;
    margin-left: auto;
    clear:both;
  }

  #new-reply textarea{
    width: 43%;
    line-height: 2em;
    margin: auto;
  }

  #new-reply {
    width: 70%;
  }

  #existing-user {
    text-align: center;
  }

  #new-reply label {
    text-align: left;
    /*margin-left: 28%;*/
    padding-bottom: 0.3125em;
    padding-top: 0.625em;
  }

  #resources-form {
    width: 70%;
    margin-bottom: 8%;
  }

  #resourcecenter {
    margin: 0 auto;
  }

  .box {
    padding: 0 8%;
  }

  #mood-form {
    width: 68%;
  }

}

@media (min-width: 1024px) {
  #new-post {
    width: 75%;
    margin-top: 2.5%;
  }

  #new-reply {
    width: 75%;
    margin-top: 2.5%;
  }

  #forum {
    width: 75%;
    margin-top: 5%;
  }

  #resources-form {
    width: 65%;
  }

  /*#resourcecenter {
    width: 90%;
    text-align: center;
  }*/

  .box {
    padding: 0 7%;
    margin-top: -1.25em;
  }

  #mood-form {
    width: 58%;
  }

  #moodChart {
    margin: 0 auto;
    max-width: 100%;
    margin-top: 5%;
  }
}
.attack{
  color: red;
}
