header {
  background-image:url('imgs/light.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 20px;
  margin-top: -40px;
  margin-left: -8px;
  margin-right: -8px;
}

header h2 {
  font-family: Raleway;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 30px;
  margin-left: 2%;
  letter-spacing: .1em;
}

header h1 {
  font-family: Dancing Script;
  font-size: 150px;
  color: white;
  text-transform: lowercase;
  border: 5px solid white;
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
  margin-left: 10%;
}

header h3 {
  font-family: Raleway;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 30px;
  margin-left: 2%;
  letter-spacing: .1em;
}

#scroll {
  text-align: center;
  margin-top: -15px;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: block;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 24px;
  padding: 15px 0px;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: white;
}


main {
  padding-top: 1%;
  background-color: #e7e7e7;
  margin-left: -8px;
  margin-right: -8px;
}
#login-status {
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

#login-div {
  background: #2A9D8F;
  width: 40%;
  margin: 0 auto;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: none;
  padding: 15px;
}
#login-div h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}
#login-div h6 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
#login-div label {
  display: block;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
}
#login-div button{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  border: none;
  background-color: #BADA55;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  color: white;
  text-transform: uppercase;
  padding: 7px;
  font-size: 15px;
  font-family: Raleway;
  font-weight: 300;
}
#login-div input {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  line-height: 20px;
  border: none;
}




#new-post {
  background: #2A9D8F;
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: none;
  padding: 15px;
}

#new-post h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

#new-post label {
  display: block;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
}

#new-post button {
  display: block;
  margin-top: 15px;
  border: none;
  background-color: #BADA55;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  color: white;
  text-transform: uppercase;
  padding: 7px;
  font-size: 15px;
  font-family: Raleway;
  font-weight: 300;
}

#new-post input {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  line-height: 20px;
  border: none;
}

#new-post input[type="text"] {
  width: 60%;
}


#new-post select {
  font-size: 15px;
  text-transform: uppercase;
  border: none;
}

#new-post label[for="female"] {
  display: inline;
  padding-right: 10px;
  text-transform: uppercase;
}

#new-post label[for="male"] {
  display: inline;
  padding-right: 10px;
  text-transform: uppercase;
}

#new-post label[for="other"] {
  display: inline;
  text-transform: uppercase;
}

#new-post textarea {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: none;
}

#forum {
  width: 90%;
  background: #2A9D8F;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: none;
  padding: 15px;
}

#forum h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

#forum select {
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  margin-bottom: 40px;
}

#forum label {
  display: block;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
  font-size: 18px;
}

#forum button {
  display: block;
  margin-top: 15px;
  border: none;
  background-color: #BADA55;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  color: white;
  text-transform: uppercase;
  padding: 7px;
  font-size: 15px;
  font-family: Raleway;
  font-weight: 300;
}

article .title {
  color: white;
  font-size: 1.7em;
  font-family: Raleway;
}

article .author {
  color: white;
  font-size: 1em;
  font-family: Raleway;
  font-weight: 300;
}

article .gender {
  color: white;
  font-size: .8em;
  font-family: Raleway;
  font-weight: 300;
  margin-top: -10px;
}

article .date {
  color: white;
  font-size: .8em;
  font-family: Raleway;
  font-weight: 300;
  margin-top: -10px;
}

article .body {
  font-size: 1.2em;
  font-family: Raleway;
  font-weight: 300;
  background-color: white;
  color: #2A9D8F;
  padding: 20px;
}

article .category {
  color: white;
  font-size: .8em;
  font-family: Raleway;
  font-weight: 300;
  margin-top: 20px;
  border-bottom: 2px dotted white;
  padding-bottom: 20px;
}

article .postNum {
  color: white;
  font-size: .8em;
  font-family: Raleway;
  font-weight: 300;
  float: right;
}

#new-reply {
  background: #2A9D8F;
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: none;
  padding: 15px;
}

#new-reply textarea {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: none;
}

#new-reply label {
  display: block;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
}

#new-reply button {
  display: block;
  margin-top: 15px;
  border: none;
  background-color: #BADA55;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  color: white;
  text-transform: uppercase;
  padding: 7px;
  font-size: 15px;
  font-family: Raleway;
  font-weight: 300;
}

#new-reply input {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  line-height: 20px;
  border: none;
  width: 42.3%;
}

#new-reply h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

#resources-form {
  width: 90%;
  background: #2A9D8F;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: none;
  padding: 15px;
}

#resources-form h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

#resources-form select {
  font-size: 15px;
  text-transform: uppercase;
  border: none;
}

.box {
  margin-top: 15%;
  padding: 0 2%;
}

.box h1 {
  font-family: Raleway;
  font-size: 2.2em;
  font-weight: 300;
}

.box h2 {
  font-family: Raleway;
  font-weight: 300;
}

.box a {
  font-family: Raleway;
  font-weight: 300;
}

body {
  margin-bottom: -10px;
}

main {
  padding-bottom: 100px;
}

#mood-form {
  background: #2A9D8F;
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: none;
  padding: 15px;
  line-height: 2em;
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
}

#mood-form button {
  display: block;
  margin-top: 15px;
  border: none;
  background-color: #BADA55;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-family: Raleway;
  font-weight: 300;
}

#mood-form h1 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

#mood-form label {
  font-family: Raleway;
  font-weight: 300;
  color: white;
  text-transform: lowercase;
  font-size: 1.1em;
  display: inline-block;
  padding-top: 20px;
}

#mood-form input[type="radio"] {
  display: inline-block
}

.resources-info {
  font-family: Raleway;
}

.resources-title {
  font-family: Raleway;
}

@media (min-width: 500px) {
  header h2 {
    font-family: Raleway;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 30px;
    margin-left: 35%;
    letter-spacing: .1em;
  }

  header h1 {
    font-family: Dancing Script;
    font-size: 150px;
    color: white;
    text-transform: lowercase;
    border: 5px solid white;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-block;
    margin-left: 15%;
  }

  header h3 {
    font-family: Raleway;
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 30px;
    margin-left: 2%;
    letter-spacing: .1em;
  }

  nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 24px;
    padding: 15px 0px;
  }

  nav ul a {
    text-decoration: none;
    color: black;
  }

  nav {
    background-color: white;
  }

@media (min-width: 625px) {
  #new-post {
    width: 85%;
  }

  #forum {
    width: 85%;
  }

  #new-reply {
    width: 85%;
  }

  #resources-form h1 {
    display: inline-block;
    padding-right: 15px;
  }

  #resources-form select {
    display: inline-block;
  }
}

@media (min-width: 750px) {
  #new-post input[type="text"] {
    width: 55%;
  }

  #column1 {
    float: left;
    width: 55%;

  }

  #column2 {
    margin-bottom: 50px;
  }

  #new-post button {
    margin-right: auto;
    margin-left: auto;
    clear:both;
  }

  #new-post textarea{
    width: 43%;
  }

  #new-reply button {
    margin-right: auto;
    margin-left: auto;
    clear:both;
  }

  #new-reply textarea{
    width: 43%;
    line-height: 20px;
  }

  #new-reply {
    width: 70%;
  }

  #formcenter {
    text-align: center;
  }

  #new-reply label {
    text-align: left;
    margin-left: 28%;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  #resources-form {
    width: 70%;
    margin-bottom: 8%;
  }

  #resourcecenter {
    margin: 0 auto;
  }

  .box {
    padding: 0 8%;
  }

  #mood-form {
    width: 68%;
  }

}

@media (min-width: 1024px) {
  #new-post {
    width: 75%;
    margin-top: 5%;
  }

  #new-reply {
    width: 75%;
  }

  #forum {
    width: 75%;
    margin-top: 5%;
  }

  #resources-form {
    width: 65%;
  }

  #resourcecenter {
    width: 90%;
    text-align: center;
  }

  .box {
    padding: 0 7%;
    margin-top: -20px;
  }

  #mood-form {
    width: 58%;
  }

  #moodChart {
    margin: 0 auto;
    max-width: 100%;
    margin-top: 5%;
  }
}
.attack{
  color: red;
}
